/*!
**  Author: Kale Chao | FakeCityMan
**  Blog: kalechao87@github.io
**/
@import "normalize-reset", "compass/css3";

/*
 * Remove the gap between images and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
   visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
 *,
 *:after,
 *:before {
    @include box-sizing(border-box);
    // -webkit-user-select:none;
    // -webkit-touch-callout:none;
 }

html, body {
    overflow: hidden;
    height: 100%;
}

/* ==========================================================================
 定义变量
 ========================================================================== */
$main-bgcolor: #ffffff;
$main-color: #000;
$main-red: #e73202;

/* ==========================================================================
定义变量结束
========================================================================== */

body {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $main-bgcolor;
    color: $main-color;
    overflow: hidden;
    font: {
        size: 24px;
    }
}


.ab-element {
    position: absolute;
}

.block-img {
    display: block;
    max-width: 100%;
}

.ab-img {
    position: absolute;
}

.ab-block-img {
    display: block;
    position: absolute;
    max-width: 100%;
}

.hvcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}

.hcenter {
    position: absolute;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
}

.vcenter {
    position: absolute;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    overflow: hidden;
}

.scrolly-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}


/*=================misc start=======================*/
// misc sprite 设置
$misc-layout:smart;
$misc-spacing:10px;
$misc-sprite-dimensions: true;
@import "misc/*.png";
@include  all-misc-sprites;

#arrow-up {
    position: absolute;
    bottom: 0;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
}

// music=======================================================================
#music-control {
    position: absolute;
    top: 0;
    right: 0;

    width: 58px;
    height: 58px;
    margin: 24px;
}

#music-control-main {
    position: absolute;
    @extend .misc-music-bg;
}

.music-control-icon {
    position: absolute;
    @extend .misc-music-icon;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}
// music=======================================================================

#loading-num {
    position: absolute;
    top: 45%;;
    width: 100%;
    z-index: 999;
    text: {
        align: center;
    }
    font: {
        size: 56px;
    }
}

#music-control, #arrow-up {
    visibility: hidden;
}

#loading-num {
    position: absolute;
    top: 45%;;
    width: 100%;
    z-index: 999;
    text: {
        align: center;
    }
    font: {
        size: 56px;
    }
    color: $main-color;
}

/*=================cover start=======================*/
// cover sprite 设置
$cover-layout:smart;
$cover-spacing:10px;
$cover-sprite-dimensions: true;
@import "cover/*.png";
@include  all-cover-sprites;

#cover-bg {
    $cover-bg: '../images/cover-bg.jpg';
    width: image-width($cover-bg);
    height: image-height($cover-bg);
    background-image: url($cover-bg);
}

#cover-content {
    top: 693px;
    left: 53px;
    width: 518px;
    height: 315px;
    // background: rgba(255, 0, 0, 0.2);
}

#cover-content1 {
    top: 1px;
    left: 469px;
}

#cover-content2 {
    top: 2px;
    left: 423px;
}

#cover-content3 {
    top: 1px;
    left: 380px;
}

#cover-content4 {
    top: 2px;
    left: 338px;
}

#cover-content5 {
    top: 1px;
    left: 296px;
}

#cover-content6 {
    top: 1px;
    left: 255px;
}

#cover-content7 {
    top: 1px;
    left: 213px;
}

#cover-content8 {
    top: 1px;
    left: 171px;
}

#cover-content9 {
    top: 2px;
    left: 129px;
}

#cover-content10 {
    top: 1px;
    left: 87px;
}

#cover-content11 {
    top: 2px;
    left: 46px;
}

#cover-content12 {
    top: 1px;
    left: 4px;
}

.logo {
    position: absolute;
    $logo: '../images/logo.png';
    width: image-width($logo);
    height: image-height($logo);
    background-image: url($logo);
}

#cover-logo {
    bottom: 26px;
    right: 32px;
}

// page2 sprite 设置
$page2-layout:smart;
$page2-spacing:10px;
$page2-sprite-dimensions: true;
@import "page2/*.png";
@include  all-page2-sprites;

#page2-bg {
    top: 0;
    left: 0;
    $page2-bg: '../images/page2-bg.jpg';
    width: image-width($page2-bg);
    height: image-height($page2-bg);
    background-image: url($page2-bg);
}

#page2-content {
    top: 98px;
    left: 345px;
    width: 240px;
    height: 337px;
    // background: rgba(255, 0, 0, 0.2);
}

#page2-line {
    top: 0;
    left: 0;
}

#page2-content1 {
    top: 0;
    left: 195px;
}

#page2-content2 {
    top: 0;
    left: 138px;
}

#page2-content3 {
    top: 0;
    left: 80px;
}

#common-logo {
    top: 39px;
    left: 28px;
}

// page3 sprite 设置
$page3-layout:smart;
$page3-spacing:10px;
$page3-sprite-dimensions: true;
@import "page3/*.png";
@include  all-page3-sprites;

#page3-bg {
    top: 0;
    left: 0;
    $page3-bg: '../images/page3-bg.jpg';
    width: image-width($page3-bg);
    height: image-height($page3-bg);
    background-image: url($page3-bg);
}

#page3-content {
    top: 136px;
    left: 258px;
    width: 306px;
    height: 328px;
    // background: rgba(255, 0, 0, 0.3);
}

#page3-line {
    top: 2px;
    left: 0;
}

#page3-content1 {
    top: 0;
    left: 266px;
}

#page3-content2 {
    top: 0;
    left: 209px;
}

#page3-content3 {
    top: 1px;
    left: 131px;
}

#page3-content4 {
    top: 0;
    left: 81px;
}

#page3-content5 {
    top: 0;
    left: 4px;
}

// page4 sprite 设置
$page4-layout:smart;
$page4-spacing:10px;
$page4-sprite-dimensions: true;
@import "page4/*.png";
@include  all-page4-sprites;

#page4-bg {
    top: 0;
    left: 0;
    $page4-bg: '../images/page4-bg.jpg';
    width: image-width($page4-bg);
    height: image-height($page4-bg);
    background-image: url($page4-bg);
}

#page4-content {
    top: 102px;
    left: 276px;
    width: 300px;
    height: 362px;
    // background: rgba(255, 0, 0, 0.3);
}

#page4-line {
    top: 18px;
    left: 81px;
}

#page4-content1 {
    top: 14px;
    left: 257px;
}

#page4-content2 {
    top: 15px;
    left: 201px;
}

#page4-content3 {
    top: 15px;
    left: 145px;
}

#page4-content4 {
    top: 14px;
    left: 89px;
}

#page4-content5 {
    top: 0;
    left: 0;
}

// page5 sprite 设置
$page5-layout:smart;
$page5-spacing:10px;
$page5-sprite-dimensions: true;
@import "page5/*.png";
@include  all-page5-sprites;

#page56-bg {
    $page56-bg: '../images/page56-bg.jpg';
    width: image-width($page56-bg);
    height: image-height($page56-bg);
    background-image: url($page56-bg);
}

#page5-content {
    top: 162px;
    left: 158px;
    width: 283px;
    height: 463px;
    // background: rgba(255, 0, 0, 0.2);
}

#page5-line {
    top: 119px;
    left: 45px;
}

#page5-content1 {
    top: 115px;
    left: 226px;
}

#page5-content2 {
    top: 0;
    left: 168px;
}

#page5-content3 {
    top: 116px;
    left: 112px;
}

#page5-content4 {
    top: 116px;
    left: 56px;
}

#page5-content5 {
    top: 116px;
    left: 0;
}

#cover, #page2, #page3, #page4 {
    display: none;
}
