/*!
**  Author: Kale Chao | FakeCityMan
**  Blog: kalechao87@github.io
**/
@import "normalize-reset", "compass/css3";

/*
 * Remove the gap between images and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
   visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
 *,
 *:after,
 *:before {
    @include box-sizing(border-box);
    // -webkit-user-select:none;
    // -webkit-touch-callout:none;
 }

html, body {
    overflow: hidden;
    height: 100%;
}

/* ==========================================================================
 定义变量
 ========================================================================== */
$main-bgcolor: #ffffff;
$main-color: #000;
$main-yellow: #9b7e22;

/* ==========================================================================
定义变量结束
========================================================================== */

body {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $main-bgcolor;
    color: $main-color;
    overflow: hidden;
    font: {
        size: 24px;
    }
}


.ab-element {
    position: absolute;
}

.block-img {
    display: block;
    max-width: 100%;
}

.ab-img {
    position: absolute;
}

.ab-block-img {
    display: block;
    position: absolute;
    max-width: 100%;
}

.hvcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}

.hcenter {
    position: absolute;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
}

.vcenter {
    position: absolute;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    overflow: hidden;
}

.scrolly-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}


/*=================misc start=======================*/
// misc sprite 设置
$misc-layout:smart;
$misc-spacing:10px;
$misc-sprite-dimensions: true;
@import "misc/*.png";
@include  all-misc-sprites;

#arrow-up {
    position: absolute;
    right: 0;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
}

// music=======================================================================
#music-control {
    position: absolute;
    top: 0;
    right: 0;

    width: 58px;
    height: 58px;
    margin: 24px;
}

#music-control-main {
    position: absolute;
    @extend .misc-music-bg;
}

.music-control-icon {
    position: absolute;
    @extend .misc-music-icon;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}
// music=======================================================================

#loading {
    background: $main-bgcolor;
    z-index: 999;
}

#loading-logo {
    @extend .logo;
    top: 40%;
    left: 50%;
    margin: {
        left: -83px;
    }
}

#music-control, #arrow-up {
    visibility: hidden;
}

#loading-num {
    position: absolute;
    top: 50%;;
    width: 100%;
    z-index: 999;
    text: {
        align: center;
    }
    font: {
        size: 56px;
    }
    color: $main-color;
}

/*=================cover start=======================*/
// cover sprite 设置
$cover-layout:smart;
$cover-spacing:10px;
$cover-sprite-dimensions: true;
@import "cover/*.png";
@include  all-cover-sprites;

#cover-bg {
    $cover-bg: '../images/cover-bg.jpg';
    width: image-width($cover-bg);
    height: image-height($cover-bg);
    background-image: url($cover-bg);
}

#cover-content {
    top: 693px;
    left: 53px;
    width: 518px;
    height: 315px;
    // background: rgba(255, 0, 0, 0.2);
}

#cover-content1 {
    top: 1px;
    left: 469px;
}

#cover-content2 {
    top: 2px;
    left: 423px;
}

#cover-content3 {
    top: 1px;
    left: 380px;
}

#cover-content4 {
    top: 2px;
    left: 338px;
}

#cover-content5 {
    top: 1px;
    left: 296px;
}

#cover-content6 {
    top: 1px;
    left: 255px;
}

#cover-content7 {
    top: 1px;
    left: 213px;
}

#cover-content8 {
    top: 1px;
    left: 171px;
}

#cover-content9 {
    top: 2px;
    left: 129px;
}

#cover-content10 {
    top: 1px;
    left: 87px;
}

#cover-content11 {
    top: 2px;
    left: 46px;
}

#cover-content12 {
    top: 1px;
    left: 4px;
}

.logo {
    position: absolute;
    $logo: '../images/logo.png';
    width: image-width($logo);
    height: image-height($logo);
    background-image: url($logo);
}

#cover-logo {
    bottom: 26px;
    right: 32px;
}

// page2 sprite 设置
$page2-layout:smart;
$page2-spacing:10px;
$page2-sprite-dimensions: true;
@import "page2/*.png";
@include  all-page2-sprites;

#page2-bg {
    top: 0;
    left: 0;
    $page2-bg: '../images/page2-bg.jpg';
    width: image-width($page2-bg);
    height: image-height($page2-bg);
    background-image: url($page2-bg);
}

#page2-content {
    top: 98px;
    left: 345px;
    width: 240px;
    height: 337px;
    // background: rgba(255, 0, 0, 0.2);
}

#page2-line {
    top: 0;
    left: 0;
}

#page2-content1 {
    top: 0;
    left: 195px;
}

#page2-content2 {
    top: 0;
    left: 138px;
}

#page2-content3 {
    top: 0;
    left: 80px;
}

#page2-content4 {
    top: 0;
    left: 6px;
}

#common-logo {
    top: 39px;
    left: 28px;
}

// page3 sprite 设置
$page3-layout:smart;
$page3-spacing:10px;
$page3-sprite-dimensions: true;
@import "page3/*.png";
@include  all-page3-sprites;

#page3-bg {
    top: 0;
    left: 0;
    $page3-bg: '../images/page3-bg.jpg';
    width: image-width($page3-bg);
    height: image-height($page3-bg);
    background-image: url($page3-bg);
}

#page3-content {
    top: 136px;
    left: 258px;
    width: 306px;
    height: 328px;
    // background: rgba(255, 0, 0, 0.3);
}

#page3-line {
    top: 2px;
    left: 0;
}

#page3-content1 {
    top: 0;
    left: 266px;
}

#page3-content2 {
    top: 0;
    left: 209px;
}

#page3-content3 {
    top: 1px;
    left: 131px;
}

#page3-content4 {
    top: 0;
    left: 81px;
}

#page3-content5 {
    top: 0;
    left: 4px;
}

// page4 sprite 设置
$page4-layout:smart;
$page4-spacing:10px;
$page4-sprite-dimensions: true;
@import "page4/*.png";
@include  all-page4-sprites;

#page4-bg {
    top: 0;
    left: 0;
    $page4-bg: '../images/page4-bg.jpg';
    width: image-width($page4-bg);
    height: image-height($page4-bg);
    background-image: url($page4-bg);
}

#page4-content {
    top: 102px;
    left: 276px;
    width: 300px;
    height: 362px;
    // background: rgba(255, 0, 0, 0.3);
}

#page4-line {
    top: 18px;
    left: 81px;
}

#page4-content1 {
    top: 14px;
    left: 257px;
}

#page4-content2 {
    top: 15px;
    left: 201px;
}

#page4-content3 {
    top: 15px;
    left: 145px;
}

#page4-content4 {
    top: 14px;
    left: 89px;
}

#page4-content5 {
    top: 15px;
    left: 12px;
}

// page5 sprite 设置
$page5-layout:smart;
$page5-spacing:10px;
$page5-sprite-dimensions: true;
@import "page5/*.png";
@include  all-page5-sprites;

#page56-bg {
    $page56-bg: '../images/page56-bg.jpg';
    width: image-width($page56-bg);
    height: image-height($page56-bg);
    background-image: url($page56-bg);
}

#page5-content {
    top: 162px;
    left: 158px;
    width: 283px;
    height: 463px;
    // background: rgba(255, 0, 0, 0.2);
}

#page5-line {
    top: 119px;
    left: 45px;
}

#page5-content1 {
    top: 115px;
    left: 226px;
}

#page5-content2 {
    top: 116px;
    left: 168px;
}

#page5-content3 {
    top: 116px;
    left: 112px;
}

#page5-content4 {
    top: 116px;
    left: 56px;
}

#page5-content5 {
    top: 116px;
    left: 0;
}

#page5-dot {
    top: 118px;
    left: 0;
}

// page6 sprite 设置
$page6-layout:smart;
$page6-spacing:10px;
$page6-sprite-dimensions: true;
@import "page6/*.png";
@include  all-page6-sprites;

#page6-content {
    top: 174px;
    left: 151px;
    width: 306px;
    height: 352px;
    // background: rgba(255, 0, 0, 0.2);
}

#page6-line {
    top: 2px;
    left: 50px;
}

#page6-content1 {
    top: 0;
    left: 253px;
}

#page6-content2 {
    top: 3px;
    left: 184px;
}

#page6-content3 {
    top: 1px;
    left: 123px;
}

#page6-content4 {
    top: 5px;
    left: 61px;
}

#page6-content5 {
    top: 0;
    left: 0;
}

#sign-btn {
    top: 175px;
    left: 65px;
}

#rule-btn {
    top: 314px;
    left: 71px;
}

#qr-container {
    top: 240px;
    left: 69px;
    $qrbg: '../images/qrbg.png';
    width: image-width($qrbg);
    height: image-height($qrbg);
    background-image: url($qrbg);
}

#qrcode {
    top: 39px;
    left: 121px;
}

#fake-qrcode {
    top: -100px;
    width: 100%;
    height: 100%;
    @include opacity(0);
}

#close-qr {
    top: 458px;
    left: 167px;
    $close-qr: '../images/close-rule.png';
    width: image-width($close-qr);
    height: image-height($close-qr);
    background-image: url($close-qr);
}

// bird sprite 设置
$bird-layout:smart;
$bird-spacing:10px;
$bird-sprite-dimensions: true;
@import "bird/*.png";
@include  all-bird-sprites;

#bird {
    position: absolute;
    width: 174px;
    height: 185px;
    // background: rgba(255, 0, 0, 0.2);
}

#bird1 {
    top: 0;
    left: 0;
}

#bird2 {
    top: 23px;
    left: 0;
}

#bird3 {
    top: 29px;
    left: 1px;
}

#bird4 {
    top: 0;
    left: 0;
}

#bird5 {
    top: 14px;
    left: 0;
}

#rule, #password-page, #qr-page, #acti-page {
    background: rgba(0, 0, 0, 0.8);
}

#rule-container {
    top: 42px;
    left: 50%;
    $rule: '../images/rule.png';
    width: image-width($rule);
    height: image-height($rule);
    margin: {
        left: -(image-width($rule)/2);
    }
    background-image: url($rule);
}

#close-rule {
    top: 857px;
    left: 188px;
    $close-rule: '../images/close-rule.png';
    width: image-width($close-rule);
    height: image-height($close-rule);
    background-image: url($close-rule);
}

#password-container {
    top: 230px;
    left: 50%;
    $password: '../images/password.png';
    width: image-width($password);
    height: image-height($password);
    margin: {
        left: -(image-width($password)/2);
    }
    background-image: url($password);
}

#confirm {
    top: 112px;
    left: 110px;
    $confirm: '../images/confirm.png';
    width: image-width($confirm);
    height: image-height($confirm);
    background-image: url($confirm);
}

#password {
    top: 54px;
    left: 118px;
    width: 360px;
    height: 48px;
    border: none;
    background: rgba(0, 0, 0, 0);
    text: {
        align: center;
    }
    line-height: 48px;
}

#back {
    top: 257px;
    left: 202px;
    $back: '../images/back.png';
    width: image-width($back);
    height: image-height($back);
    background-image: url($back);
}

#close-password {
    top: 334px;
    left: 250px;
    $close-password: '../images/close-password.png';
    width: image-width($close-password);
    height: image-height($close-password);
    background-image: url($close-password);
}

#get-password {
    top: 240px;
    left: 102px;
    $get-password: '../images/get-password.png';
    width: image-width($get-password);
    height: image-height($get-password);
    background-image: url($get-password);
}

.go-sign {
    $go-sign: '../images/go-sign.png';
    width: image-width($go-sign);
    height: image-height($go-sign);
    background-image: url($go-sign);
}

.go-sign2 {
    $go-sign2: '../images/go-sign2.png';
    width: image-width($go-sign2);
    height: image-height($go-sign2);
    background-image: url($go-sign2);
}

#page2-go-sign {
    top: 0;
    left: -56px;
}

#page3-go-sign {
    top: 0;
    left: -56px;
}

#page4-go-sign {
    top: 16px;
    left: -56px;
}

#page5-go-sign {
    top: 116px;
    left: -56px;
}

#acti-des {
    $acti-des: '../images/acti-des.jpg';
    width: image-width($acti-des);
    height: image-height($acti-des);
    background-image: url($acti-des);
}

#go-buy {
    top: 610px;
    left: 228px;
    $buy: '../images/buy.png';
    width: image-width($buy);
    height: image-height($buy);
    background-image: url($buy);
}

#back-sign {
    bottom: 120px;
    left: 263px;
    $back-sign: '../images/back-sign.png';
    width: image-width($back-sign);
    height: image-height($back-sign);
    background-image: url($back-sign);
}


#cover, #page2, #page3, #page4, #page56, #page5, #page6, #bird, #rule, #password-page, #qr-page, #acti-page {
    display: none;
}

#common-logo {
    visibility: hidden;
}
